@font-face {
  font-family: 'SFRounded';
  src: local('SF Pro Rounded Regular'), local('SFRounded-Regular'),
    url('/assets/fonts/SFRounded-Regular.woff2') format('woff2'),
    url('/assets/fonts/SFRounded-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SFRounded';
  src: local('SF Pro Rounded Medium'), local('SFRounded-Medium'),
    url('/assets/fonts/SFRounded-Medium.woff2') format('woff2'),
    url('/assets/fonts/SFRounded-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SFRounded';
  src: local('SF Pro Rounded Semibold'), local('SFRounded-Semibold'),
    url('/assets/fonts/SFRounded-Semibold.woff2') format('woff2'),
    url('/assets/fonts/SFRounded-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
